.mainMenu {
  padding-left: var(--space-10);
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  list-style: none;
}

.navItem {
  border-top-left-radius: var(--rounded-md);
  border-bottom-left-radius: var(--rounded-md);
}

.navLink {
  height: 54px;
  display: flex;
  align-items: center;
  gap: var(--space-4);
  color: var(--gray-800);
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  line-height: 0;
  padding: var(--space-4) var(--space-6);
  border-radius: inherit;
  transition: background-color 300ms ease-in;

  &:hover {
    color: var(--green-500);
  }

  &[data-active='true'] {
    background-color: var(--green-500);
    color: var(--white);

    & > img {
      filter: brightness(0) invert(1);
    }
  }

  & > img {
    margin-top: -2px;
  }
}
