.fullContainer {
  height: 100vh;
  height: 100svh;
}

.sidebar {
  width: 17.5rem;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content)) 1fr;
  background-color: var(--white);
  padding: var(--space-6) 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.siteLogo {
  display: flex;
  justify-content: center;
  padding-bottom: var(--space-14);
}

.help {
  width: 13.75rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: center;
  gap: var(--space-4);
  background-color: var(--green-500);
  padding: var(--space-4);
  border-radius: var(--rounded-xs);

  h2 {
    color: var(--white);
    font-size: var(--font-2xl);
    font-weight: var(--font-bold);
  }

  p {
    color: var(--white);
  }
}

.app {
  height: 100%;
  display: grid;
  grid-template-columns: 2.1875rem minmax(0, 95rem) 2.1875rem;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  justify-content: center;
  background-color: var(--green-500);
  margin-left: 17.5rem;
}

.topBar {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-column: 2 / -2;
  align-items: center;
  padding: var(--space-6) 0;
}

.secondaryMenu {
  display: flex;
  justify-content: end;
  gap: var(--space-6);
}

.alerts {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  background-color: transparent;
  transition: filter 300ms ease-in;

  & > img {
    filter: brightness(0) invert(1);
  }

  &:hover {
    & > img {
      filter: none;
    }
  }
}

.profile {
  display: flex;
  gap: var(--space-2);
  color: var(--white);
  cursor: pointer;

  & > img {
    width: 1.25rem;
    height: 1.25rem;
    filter: brightness(0) invert(1);
  }

  &:hover {
    & > img {
      filter: none;
    }
  }
}

.main {
  grid-column: 2 / -2;
  padding-bottom: var(--space-8);
}
