:root {
  --green-500: #1bc681;
  --green-600: #1da66f;
  --blue-400: #43b7ff;
  --red-500: #ff4444;
  --gray-50: #fafafa;
  --gray-100: #eae9e9;
  --gray-200: #d9d9d9;
  --gray-400: #b5b5b5;
  --gray-800: #484848;
  --gray-900: #1e1e1e;
  --white: #ffffff;

  --font-primary: 'Lato', 'Lato Fallback';
  --font-thin: 100;
  --font-ultra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-ultra-bold: 800;
  --font-heavy: 900;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.75rem;
  --font-4xl: 2rem;
  --font-5xl: 2.25rem;
  --font-6xl: 2.5rem;
  --font-7xl: 3rem;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-14: 3.5rem;
  --space-18: 4.5rem;
  --space-22: 5.5rem;
  --space-26: 6.5rem;
  --space-30: 7.5rem;
  --space-34: 8.5rem;
  --space-38: 9.5rem;
  --space-42: 10.5rem;
  --space-46: 11.5rem;
  --space-50: 12.5rem;

  --rounded-xs: 6px;
  --rounded-sm: 8px;
  --rounded-md: 12px;
  --rounded-lg: 16px;
  --rounded-xl: 20px;
  --rounded-full: 9999px;

  --shadow-xs: 0 2px 2px 0 rgb(0 0 0 / 0.25);
  --shadow-sm: 0 4px 4px 0 rgb(0 0 0 / 0.25);
  --shadow-md: 0 8px 8px 0 rgb(0 0 0 / 0.25);
  --shadow-lg: 0 12px 12px 0 rgb(0 0 0 / 0.25);
  --shadow-xl: 0 16px 16px 0 rgb(0 0 0 / 0.25);
}
