.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: var(--space-8) var(--space-5);
  border-radius: var(--rounded-sm);

  p {
    font-size: var(--font-2xl);
    font-weight: var(--font-semi-bold);
  }
}
